/* Fondo general */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f7e3ca; /* Color característico de BookNest */
    color: #444;
    text-align: center;
}

/* Botón principal */
button {
    padding: 12px 24px;
    border: none;
    background-color: #d7a98c; /* Color destacado */
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b08363; /* Color más oscuro al pasar el mouse */
}
