
<!DOCTYPE html>
<html>
<head>
    <title>BookNest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='indexstyle.css') }}">
</head>
<body>
    <header>
        
        <nav>
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo BookNest Coffee">
            <ul>
                <li><a href="#">Buscar libros</a></li>
                <li><a href="/libros">Libros</a></li>
                <li><a href="#">Reservas</a></li>
                <li><a href="/productos">Productos</a></li>
            </ul>
            <button class="cerrar-sesion">Cerrar sesión</button>
        </nav>
    </header>
    <main>
        <div class="bienvenida">
            <h1>¡Bienvenido a BookNest!</h1>
        </div>
        <div class="imagen-principal">
            <img src="{{ url_for('static', filename='imagen-principal.jpg') }}" alt="Imagen Principal">
        </div>
    </main>
</body>
</html>
