<!-- <!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <style>
        .mensaje {
            color: green;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <script src="scripts.js"></script>
    <h1>Registro de Usuario</h1>
    {% if mensaje %}
    <p class="mensaje">{{ mensaje }}</p>
    {% endif %}
    <form method="POST">
        <input type="text" name="nombre" placeholder="Nombre" required>
        <input type="text" name="apellido" placeholder="Apellido" required>
        <input type="text" name="documento" placeholder="Documento Identidad" required>
        <input type="text" name="celular" placeholder="Celular" required>
        <input type="email" name="correo" placeholder="Correo Electrónico" required>
        <input type="password" name="contrasena" placeholder="Contraseña" required>
        <button type="submit">Crear cuenta</button>
    </form>
</body>
</html> -->


<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='registerstyle.css') }}">
</head>
<body>
    <div class="contenedor-principal">
        <h1>Regístrate</h1>
        <form method="POST" id="formulario-registro" class="formulario-registro">
            <div class="fila-campos">
                <div class="campo-formulario">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" required>
                </div>
                <div class="campo-formulario">
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" id="apellido" required>
                </div>
            </div>
            <div class="fila-campos">
                <div class="campo-formulario">
                    <label for="documento">Documento de Identidad</label>
                    <input type="text" name="documento" id="documento" required>
                </div>
                <div class="campo-formulario">
                    <label for="celular">Celular</label>
                    <input type="text" name="celular" id="celular" required>
                </div>
            </div>
            <div class="fila-campos">
                <div class="campo-formulario">
                    <label for="correo">Correo Electrónico</label>
                    <input type="email" name="correo" id="correo" required>
                </div>
                <div class="campo-formulario">
                    <label for="contrasena">Crear Contraseña</label>
                    <input type="password" name="contrasena" id="contrasena" required>
                </div>
            </div>
            <button type="submit">Crear Cuenta</button>
        </form>
        {% if mensaje %}
        <p id="mensaje" class="mensaje {{ mensaje_class }}">{{ mensaje }}</p>
        {% endif %}
    </div>
</body>
</html>